page-home {
    ion-card {
        position: relative;
        text-align: center;
      }
    ion-row{
        ion-card{
            width:100% !important;
            height: 100% !important; 
            margin: 2px !important;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }

    .swiper-pagination-bullet 
    {
    border: 1px solid wheat;
    
    }

    .swiper-pagination-bullet {
        border-radius: 100%;
        display: inline-block;
        width: 15px;
        height: 15px;

    }
  .card-subtitle-1 {
    font-size: 1.3em;
    position: absolute;
    bottom: 4%;
    right: 22%;
    width: 100%;
    color: #a3a2b5;
  }

  .cover {
    object-fit: cover;
  }
  
}
