page-home {
    ion-card {
        position: relative;
        text-align: center;
      }
    ion-row{
        ion-card{
            width:100% !important;
            margin: 2px !important;
            img{
                width:100%;
            }
        }
    }

    .swiper-pagination-bullet 
    {
    border: 1px solid wheat;
    
    }

    .swiper-pagination-bullet {
        border-radius: 100%;
        display: inline-block;
        width: 15px;
        height: 15px;

    }
  .card-subtitle-1 {
    font-size: 1.3em;
    position: absolute;
    bottom: 4%;
    right: 29%;
    width: 100%;
    color: #fff;
  }

  .card-subtitle-3 {
    font-size: 1.3em;
    position: absolute;
    bottom: 4%;
    right: 22%;
    width: 100%;
    color: #fff;
  }
  .card-subtitle-2{
    font-size: 1.3em;
    position: absolute;
    bottom: 4%;
    right: 40%;
    width: 100%;
    color: #fff;
  }
}
